<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">Suck my cock</h1>
        <h2 style="text-align: center;" data-th-if="${success!=null}" data-th-text="${success}"></h2>
        <h2 style="text-align: center;" data-th-if="${empty!=null}" data-th-text="${empty}"></h2>
        <h3><a href="/saved">Saved Articles</a></h3>
        <div data-th-if="${error != nul}" data-th-text="${error}"></div>
    <form method="POST" data-th-action="@{/articles}">
        <button type="submit">Save</button>
            <table data-th-each="article : ${articleList}" style="border: black solid 1px; margin: auto; padding: 10px;">       
            <td>
                <img data-th-src="${article.imageurl}" style="height: 300px; width: auto; align-items: center;" />
            </td>
            <tr>
                <td>ID: <a data-th-href="@{'/news/' + ${article.Id}}" data-th-text="${article.id}"></a></td>
            </tr>
            <tr>
                <td data-th-text="${article.title}" colspan="4" style="font-weight: bold;"></td>
            </tr>
            <tr style="height: 100px;">
                <td data-th-text="${article.body}" colspan="4"
                    style="white-space: normal; text-overflow: ellipsis; overflow: hidden;"></td>
            </tr>
            <tr></tr>
            <tr>
                <td>Categories: <span data-th-text="${article.categories}"></span></td>
            </tr>
            <tr>
                <td>Tags: <span data-th-text="${article.tags}" colspan="4"></span></td>
            </tr>
            <tr></tr>
            <tr>
                <td>Published: <span data-th-text="${article.published_on}"></span></td>
                <td>
                    <a data-th-href="${article.url}">Link</a>
                </td>
                <td>
                    <!--send over entire article as json payload-->
                    <input type="checkbox" data-th-name="${article.id}" data-th-value="${article.toJSON()}" />Save
                </td>
            </tr>
        </table>
    </form>
</body>
</html>